In [9]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [10]:
# Read the CSV files into DataFrames.
('Resources/athletic_sales_2020.csv')
('Resources/athletic_sales_2021.csv')

'Resources/athletic_sales_2021.csv'

In [11]:
# Display the 2020 sales DataFrame
df1 = pd.read_csv('Resources/athletic_sales_2020.csv')
print(df1)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [12]:
# Display the 2021 sales DataFrame
df2 = pd.read_csv('Resources/athletic_sales_2021.csv')
print(df2)

         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [13]:
# Check the 2020 sales data types.
print (type(df1))

<class 'pandas.core.frame.DataFrame'>

In [14]:
# Check the 2021 sales data types.
print (type(df2))

<class 'pandas.core.frame.DataFrame'>

#### Combine the sales data by rows.

In [16]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
merge_df = pd.merge(athletic_sales_2020, athletic_sale_2021, on="invoice")
merge_df

NameError: name 'athletic_sales_2020' is not defined

In [6]:
# Check if any values are null.
null_values = df.isnull().sum()
print(null_values)

NameError: name 'df' is not defined

In [7]:
# Check the data type of each column
data_types = df.dtypes
print(data_types)

NameError: name 'df' is not defined

In [18]:
# Convert the "invoice_date" to a datetime datatype
pd.2020(df['invoice_date'])
df['invoice_date'] = pd.to_datetime(df['invoice_date'])
print(df.info())

SyntaxError: invalid syntax (2402534451.py, line 2)

In [11]:
# Confirm that the "invoice_date" data type has been changed.

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [19]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".

Total_Products_Sold = grouped_athetic_sales_df[" state,(region), city"].sum()
Total_Products_Sold.head()

# Show the top 5 results.

NameError: name 'grouped_athetic_sales_df' is not defined

#### Using `pivot_table`

In [20]:
# Show the number products sold for region, state, and city.
pivot_table = pd.pivot_table(df, index='Product', values='Quantity', aggfunc='sum')
print(pivot_table)
# Rename the "units_sold" column to "Total_Products_Sold"


# Show the top 5 results.

NameError: name 'df' is not defined

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [14]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

#### Using `pivot_table`

In [21]:
# Show the total sales for the products sold for each region, state, and city.
sales_by_location = df.groupby(['Region', 'State', 'City'])['Total Sales'].sum().reset_index()
sales_by_location.rename(columns={'Total Sales': 'Total Sales'}, inplace=True)
print(sales_by_location)
# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.
pivot_table = pd.pivot_table(df, index=['Region', 'State', 'City'], values='Total Sales', aggfunc='sum')
pivot_table.reset_index(inplace=True)
top_5 = pivot_table_sorted.head(5)
print(top_5)

NameError: name 'df' is not defined

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [23]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
sales_by_location = df.groupby(['Retailer', 'Region', 'State', 'City'])['Total Sales'].sum().reset_index()
sales_by_location.rename(columns={'Total Sales': 'Total Sales'}, inplace=True)
sales_by_location_sorted = sales_by_location.sort_values(by='Total Sales', ascending=False)
# Show the top 5 results.
top_5_results = sales_by_location_sorted.head(5)
print(top_5_results)

NameError: name 'df' is not defined

#### Using `pivot_table`

In [25]:
# Show the total sales for the products sold for each retailer, region, state, and city.
sales_by_location = df.groupby(['Retailer', 'Region', 'State', 'City'])['Total Sales'].sum().reset_index()
sales_by_location_sorted = sales_by_location.sort_values(by='Total Sales', ascending=False)

# Optional: Rename the "total_sales" column to "Total Sales"
sales_by_location.rename(columns={'Total Sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
top_5_results = sales_by_location_sorted.head(5)
print(top_5_results)

NameError: name 'df' is not defined

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [31]:
# Filter the sales data to get the women's athletic footwear sales data.
womans_athletic_footwear_sales =df[df['products'] =="Womans Athletic Footwear"]
print(women_athletic_footwear_sales)

NameError: name 'df' is not defined

#### Using `groupby`

In [33]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
women_athletic_footwear_sales_by_location_sorted = women_athletic_footwear_sales_by_location.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)
# Show the top 5 results.
top_5_results = women_athletic_footwear_sales_by_location_sorted.head(5)

NameError: name 'women_athletic_footwear_sales_by_location' is not defined

#### Using `pivot_table`

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [35]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_table = pd.pivot_table(df, index='invoice_date', values='total_sales')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table.
print(pivot_table)

NameError: name 'df' is not defined

In [36]:
# Resample the pivot table into daily bins, and get the total sales for each day.
pivot_table.resample('D').sum()
.sort_values(by='Total Sales', ascending=True)
# Sort the resampled pivot table in ascending order on "Total Sales".
sorted_resampled_pivot_table
print(sorted_resampled_pivot_table)

SyntaxError: invalid syntax (416587870.py, line 3)

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [40]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
pivot_table.resample('W').sum()
sort_values(by='Total Sales', ascending=True)
# Sort the resampled pivot table in ascending order on "Total Sales"
sorted_resampled_pivot_table
print(sorted_resampled_pivot_table)

NameError: name 'pivot_table' is not defined